* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62,5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    to right,
    #cce4ff 0%,
    #cce4ff 50%,
    #345995 50%,
    #345995 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}


.login-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lado-esquerdo, .lado-direito{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
}

.lado-esquerdo > h1 {
  color: rgb(13, 29, 63);
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 25px;
}

img{
  width: 20vw;

}


form{
  width: 50%;
}

label{
  margin-bottom: 8px;
}

.card{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px #000560;
}

.lado-direito .card > h1{
  font-size: 1.87rem ;
  color: #000560;
  margin: 0 auto;
  font-weight: 600;
}

.field{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
}

.field  input {
  width: 100%;
  border: 1px solid rgb(185, 182, 182);
  outline: none;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 10px 25px #ccc;
  background: white;
  box-sizing: border-box;
  font-size: 0.75rem ;
}

.field  input::placeholder{
  color: rgb(187, 187, 187);
}

.card form button {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  background-color:#0f2d50 ;
  color: white;
  font-size: 1.0rem;
  border: 0;
  outline: none;
  border-radius: 8px;
  margin-top: 10px;
  text-transform: uppercase;  
  box-shadow: 0 8px 30px -10px #0f2d50;
  letter-spacing: 2px;
}

/* media queries*/

@media  screen and (max-width: 950px){

  main{
    flex-direction: column;
  }

  .card{
    width: 80%;
  }

  form{
    width: 85%;
  }

  .lado-esquerdo{
    display: none;
  }

}

@media  screen and (max-width: 768px) {

  .lado-esquerdo {
    display: none;
  }
  .lado-direito{
    width: 100%;
  }

}

@media  screen and(max-width: 400px){
  .card{
    width: 100%;
  }

  .lado-esquerdo > h1{
    display: none;
  }

  form{
    width: 100%;
  }

  .lado-direito{
    width: 100%;
  }

  .lado-esquerdo {
    display: none;
  }



  

}

@media  screen and (max-width: 375px) {
  .card{
    width: 90%;
  }

  .lado-esquerdo {
    display: none;
  }


}

